/* 
font-family: 'Borel', cursive;
font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: rgb(226, 43, 195);
    padding: 16px 0;
    
}

header  h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style:oblique;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: pink;
    margin-bottom: 20px;
}

nav ul{
list-style: none;
margin: 0;
padding: 0;
display: flex; 

}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color:   rgba(0, 0, 0, 0.3)
}


footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

nav ul li a.activo {
    background-color: violet;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: green;
    font-weight: 400;

}

.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios{
    width: 25%;
    background-color: pink;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos p {
    font-size: 20px;
}


.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    background-color: yellow;
    display: block;
}

.testimonio .autor{
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: 12px 0;
}


/* ahora hacemos la parte de Nosotros */

.historia p{
font-size: 12px;
}


/* ahora hacemos la parte de servicios */

.servicio{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px 0;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;

}
